In [1]:
# importing dependencies
import pandas as pd

In [2]:
# reading csv datafile into dataframes
df_hm = pd.read_csv('Resources/hawaii_measurements.csv')
df_hs = pd.read_csv('Resources/hawaii_stations.csv')

In [3]:
# checking for Na s in the data
df_hm.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [4]:
# dropping na 
df_hm=df_hm.dropna(axis=0, how='any')
df_hm.count()

station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

In [5]:
# Reset index
df_hm=df_hm.reset_index(drop=True)
df_hm.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [6]:
# checking data types
df_hm.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [7]:
# df_hm['date'] = pd.to_datetime(df_hm['date'],format='%Y/%m/%d')

In [9]:
# checking data types
df_hs.count()

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

Saving Cleaned data to csv files

In [10]:
df_hm.to_csv('Cleaned_CSV/hawaii_measurements_c.csv')
df_hs.to_csv('Cleaned_CSV/hawaii_stations.csv')